/* footer */
.weChatMain .bar-footer{padding: 0px;min-height: 49px;}
.weChatMain .bar-footer button{max-width: 49px;max-height: 49px;overflow: hidden;bottom: 0px;}
.weChatMain .bar-footer .item-input-wrapper{margin: 10px 0;background: #FFF;padding: 0px;position: relative;}
.weChatMain .bar-footer .item-input-wrapper input{width: 100%;min-height: 29px;border-radius: 8px;padding: 0 5px;}
// .weChatMain .bar-footer .item-input-wrapper #contenteditable{width: 100%;min-height: 29px;line-height: 29px;max-height: 100px;background: #FFF;border-radius: 8px;position: absolute;bottom: 0px;}
.weChatMain .input-box {background: #f1f1f1;}

/* chat */
.chat-item .item .item-content{padding-left: 80px;min-height: 80px;position: relative;}
.chat-item .item .item-content img{border-radius: 5px;max-width: 50px;max-height: 50px;}
.chat-item .item .item-content .item-new{position: absolute;top: 10px;left: 55px;display: block;width: 16px;height: 16px;line-height: 16px;background: #FF0000;text-align: center;overflow: hidden;border-radius: 50%;}
.chat-item .item .item-content .item-new p{color: #FFF;font-size: 10px;}
.chat-item .item .item-content .item-time{position: absolute;right: 10px;top: 10px;font-size: 12px;color: #999;}
.chat-item .item .item-options .button-positive{background: #E2E2E2;border-color: #E2E2E2;}

/* detail-item */
.detail-item .item-delete .button.icon{color: #999;}
.detail-item .button-icon.button.active,.detail-item .button-icon.button.activated{opacity: 1;}

.chatList {background: #FFF;} 
.icon-pulling{display: none!important;}
.chatList .item {padding: 0px;border: none;background: none;position: relative;overflow: visible;}
.chatList .item .chatDel{position: absolute;left: 0px;top: 3px;display: none;}
.chatList .item .chatDel::before{font-size: 28px;}
.chatList .item .item-content{padding: 10px 20% 10px 65px;position: relative;min-height: 60px;transition: all 0.4s;-webkit-transition: all 0.4s;overflow: visible;text-align: left;}
.chatList .item .item-content img{width: 100%;height: 100%;max-height: 40px;max-width: 40px;border-radius: 5px;position: absolute;left: 10px;top: 10px;}
.chatList .item.my .item-content{padding-left: 0px;padding: 10px 65px 10px 20%;text-align: right;}
.chatList .item.my .item-content img{left: auto;right: 10px;}
.chatList .item .item-content .item-detail{min-height: 40px;line-height: 20px;background: #FFF;position: relative;padding: 10px;border-radius: 5px;border: 1px solid #e1e1e1;white-space:normal;display: inline-block;max-width: 100%;text-align: left;}
.chatList .item.my .item-content .item-detail{background: #A0ECA0;}
.chatList .item .item-content .item-detail::after{position: absolute;top: 15px;display: block;content: '';width: 10px;height: 10px;transform: rotate(45deg);-webkit-transform: rotate(45deg);border: 1px solid #e1e1e1;background: #FFF;}
.chatList .item.firend .item-content .item-detail::after{left: -6px;border-right: none;border-top: none;}
.chatList .item.my .item-content .item-detail::after{right: -6px;left: auto;border-left: none;border-bottom: none;background: #A0ECA0;}
/*聊天tip*/
.chatList .item .tip{position: absolute;background: #000;z-index: 10;border-radius: 5px;top: -30px;display: none;}
.chatList .item .item-content .item-detail::before{position: absolute;display: block;content: '';width: 10px;height: 10px;transform: rotate(45deg);-webkit-transform: rotate(45deg);border: 1px solid #000;background: #000;z-index: 200;top: -20px;display: none;}
.chatList .item .tip .tip-content{display: -webkit-flex;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;}
.chatList .item .tip a{color: #FFF;text-decoration: none;font-size:12px;-webkit-box-flex: 1;flex: 1;display: block;max-width: 60px;white-space: nowrap;padding: 3px 10px;border-right: 1px solid #FFF;}
.chatList .item .tip a:last-child{border-right:none;}

.chatList .my .tip{right: 4%;}
.chatList .firend .tip{left: 4%;}

.chatList .item.my .item-detail::before{right: 15%;}
.chatList .item.firend .item-detail::before{left: 15%;}

.chatList .item.bottom .tip{top: auto;bottom: -30px;}
.chatList .item.bottom .item-detail::before{top: auto;bottom: -20px;}

.showChatDel .item .chatDel{display: block;}
.showChatDel .item .item-content{transform: translate3d(35px, 0, 0);-webkit-transform: translate3d(35px, 0, 0);}

.chatList .item-tip{z-index: 100;}
.chatList .item-tip .tip{display:block;}
.chatList .item-tip .item-content .item-detail::before{display: block;}

/* friend-list */
.friend-list .item-tab{padding: 5px 10px 5px 50px;position: relative;max-height: 52px;line-height: 32px;}
.friend-list .item img, .friend-list .item-tab .icon{width: 30px;height: 30px;position: absolute;top: 5px;left: 10px;text-align: center;font-size: 26px;}
.friend-list .item-divider{padding: 0px 10px;height: 20px;font-size: 12px;min-height: auto;max-height: 20px;line-height: 20px;color: #999;}


/* tabs-footer */
.tabs-footer a.tab-item.active,
.tabs-footer a.tab-item.activated{color: green;}
