<!-- tab-friends.html -->
<ion-view>
    <ion-content>
        
        <div class="list friend-list">
            <a class="item item-tab">
                <i class="icon ion-email"></i>
                新的朋友
            </a>
            <a class="item item-tab">
                <i class="icon ion-email"></i>
                群聊
            </a>
            <a class="item item-tab">
                <i class="icon ion-email"></i>
                标签
            </a>
            <a class="item item-tab">
                <i class="icon ion-email"></i>
                公众号
            </a>
             <div class="item item-divider">
               <i class="icon ion-star"></i> 
               星标朋友
            </div>

            <div class="item item-divider">
               A
            </div>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                App
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                App
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                App
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                App
            </a>

            <div class="item item-divider">
               B
            </div>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                Bro
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                Bro
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                Bro
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                Bro
            </a>

            <div class="item item-divider">
               C
            </div>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                CEEEE
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                CEEEE
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                CEEEE
            </a>
            <a class="item item-tab">
                <img src="/img/adam.png" alt="">
                CEEEE
            </a>

        </div>

    </ion-content>
</ion-view>