<!-- tab-find.html -->
<ion-view>
    <ion-content class="has-footer has-header">

        <div class="list friend-list">
            <a class="item item-tab">
                <i class="icon ion-aperture"></i>
                朋友圈
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-tab">
                <i class="icon ion-qr-scanner"></i>
                扫一扫
            </a>
            <a class="item item-tab">
                <i class="icon ion-aperture"></i>
                摇一摇
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-tab">
                <i class="icon ion-aperture"></i>
                附近的人
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-tab">
                <i class="icon ion-aperture"></i>
                京东购物
            </a>
            <a class="item item-tab">
                <i class="icon ion-aperture"></i>
                游戏
            </a>
        </div>

    </ion-content>
</ion-view>