<!-- message-detail.html -->
<ion-view>
    <ion-content class="has-footer has-header">
    
    <!-- 下拉刷新 -->
    <ion-refresher on-refresh=""></ion-refresher>

    <!-- 聊条内容 -->    
    <chat-detail></chat-detail> 
    

    </ion-content>
</ion-view>

<div class="bar bar-footer input-box on">
    <div class="buttons">
        <button class="button button-icon ion-ios-plus-outline"></button>
    </div>
    <label class="item-input-wrapper">
        <input type="text" placeholder="">
    </label>
    <div class="buttons">
        <button class="button button-icon ion-android-happy"></button>
        <button class="button button-icon ion-ios-plus-outline"></button>
    </div>
</div>
<div class="bar bar-footer input-del">
    <div class="tabs tabs-footer ">
        <a class="tab-item">
            <i class="icon ion-ios-redo-outline"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-cube"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-ios-trash-outline"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-ios-person"></i>
        </a>
    </div>
</div>
