<!-- tab-user.html -->
<ion-view>
    <ion-content class="has-footer has-header">

        <div class="list user-pic">
            <div class="item item-divider"></div>
            <a class="item item-avatar">
                <img src="/img/adam.png" >
                <h2>User Name</h2>
                <p>微信号： wechat Number</p>
            </a>
            <div class="item item-divider"></div>
            <a class="item item-tab">
                <i class="icon ion-image"></i>
                相册
            </a>
            <a class="item item-tab">
                <i class="icon ion-ios-photos"></i>
                收藏
            </a>
            <a class="item item-tab">
                <i class="icon ion-ios-briefcase"></i>
                钱包
            </a>
            <a class="item item-tab">
                <i class="icon ion-android-film"></i>
                卡卷
            </a>
            <div class="item item-divider"></div>
            <a class="item item-tab">
                <i class="icon ion-android-happy"></i>
                表情
            </a>
            <div class="item item-divider"></div>
            <a class="item item-tab">
                <i class="icon ion-ios-gear"></i>
                设置
            </a>
        </div>

    </ion-content>
</ion-view>