<div class="tabs tabs-icon-top tabs-footer" style="display: {{common.showTabs ? 'display' : 'none'}}">
    <a class="tab-item active" href="#/">
        <i class="icon ion-ios-chatbubble"></i>
        微信
    </a>
    <a class="tab-item" href="#/contact">
        <i class="icon ion-ios-people"></i>
        通讯录
    </a>
    <a class="tab-item" href="#/find">
        <i class="icon ion-ios-paperplane"></i>
        发现
    </a>
    <a class="tab-item" href="#/user">
        <i class="icon ion-ios-person"></i>
        我
    </a>
</div>